# Copyright (c) 2012 Bryce Adelstein-Lelbach
#
# Distributed under the Boost Software License, Version 1.0. (See accompanying
# file LICENSE_1_0.txt or copy at http://www.boost.org/LICENSE_1_0.txt)

# Files
# =====
*.pyc
.ycm_extra_conf.py
/python/phylanx/core/__init__.py

# Directories
# ===========
/.vs
.idea/
build*/
.vscode/
cmake-build-*
phylanx.egg-info/
/tests/unit/execution_tree/images
/tests/unit/plugins/controls/images
