# Copyright (c) 2017 R. Tohid
# Copyright (c) 2018 Parsa Amini
#
# Distributed under the Boost Software License, Version 1.0. (See accompanying
# file LICENSE_1_0.txt or copy at http://www.boost.org/LICENSE_1_0.txt)

################################################################################
# ## Verifying the config.yml file
# On this page https://circleci.com/docs/2.0/local-cli/, a tool is introduced
# that checks your config file.
# e.g.
# ```bash
# $ curl -o circleci https://circle-downloads.s3.amazonaws.com/releases/build_agent_wrapper/circleci
# $ chmod +x circleci
# $ ./circleci config validate --config=repo/.circleci/config.yml
#
#  config file is valid
# ```
# ## Manually triggering a build
# A build is triggered upon every commit to GitHub. Failed builds can be
# rebuilt using the web interface. If a new commit did not trigger an automatic
# build you can use the CircleCI API to manually do so.
#
# e.g.
# ```bash
# $ curl -X POST https://circleci.com/api/v1.1/project/github/stellar-group/phylanx/tree/cool-branch?circle-token=$CIRCLE_TOKEN
# ```
# For more information about using the CircleCI API consult the [API
# reference](https://circleci.com/docs/api/v1-reference/#version-control-system-vcs-type)
#
# API tokens can be generated at: https://circleci.com/account/api
#
# ## Most useful CircleCI environment variables
# * `CIRCLECI`: Is available and set to `true` if you are on CircleCI
# * `CIRCLE_BRANCH`: The name of the current branch. e.g. `master`
# * `CIRCLE_SHA1`: Git commit changeset
# * `CIRCLE_WORKING_DIRECTORY`: Default working directory. Probably set to  `~/project`
#
# ## References
# * CircleCI environment variables: https://circleci.com/docs/2.0/env-vars/
# * API reference: https://circleci.com/docs/api/v1-reference/
# * Configuration reference: https://circleci.com/docs/2.0/configuration-reference/

################################################################################
version: 2
anchors:
    - &docker_config
        docker:
            - image: stellargroup/phylanx_base:prerequisites
              entrypoint: /bin/bash

    - &machine_config
        machine: true
        environment:
            BASE_IMAGE_NAME: stellargroup/phylanx_base:prerequisites
            TARGET_IMAGE_NAME: stellargroup/phylanx:devel

    - &ignore_docs
        filters:
            branches:
                ignore:
                    - gh-pages

    - &convert_xml
        run:
            name: Converting XML
            when: always
            command: |
                mkdir -p ${CIRCLE_JOB}
                xsltproc conv.xsl Testing/$(head -n 1 < Testing/TAG)/Test.xml >${CIRCLE_JOB}/Test.xml

    - &attach_phylanx_tree
        attach_workspace:
            at: /phylanx

################################################################################
jobs:
    build_test:
        <<: *docker_config
        working_directory: /phylanx
        steps:
            - checkout:
                path:
                    /phylanx
            # Install blaze_tensors library
            - run:
                name: Install blaze_tensors
                command: |
                    git clone https://github.com/STEllAR-GROUP/blaze_tensor.git --depth=1 /blaze_tensor
                    cmake -H/blaze_tensor -B/blaze_tensor/build
                    cmake --build /blaze_tensor/build --target install
            # CMake
            - run:
                name: Run CMake
                command: cmake -H. -Bbuild -DPHYLANX_WITH_GIT_COMMIT=${CIRCLE_SHA1} -DPHYLANX_WITH_TOOLS=On -DHPX_DIR=/usr/local/lib/cmake/HPX -Dblaze_DIR=/blaze/share/blaze/cmake -DPHYLANX_WITH_BLAZE_TENSOR=ON -DPHYLANX_WITH_ITERATIVE_SOLVERS=ON -DCMAKE_BUILD_TYPE=Debug -DCMAKE_CXX_COMPILER=clang++ -DCMAKE_C_COMPILER=clang -DPHYLANX_WITH_HIGHFIVE=On
            # Build all targets
            - run:
                name: Build all targets
                command: cmake --build build -- -j2
            # CTest to JUnit XML transformation sheet
            - run:
                name: Download CTest XML to JUnit XML transformation stylesheet
                command: curl https://raw.githubusercontent.com/Kitware/CDash/master/tests/circle/conv.xsl -o build/conv.xsl
            - persist_to_workspace:
                root: /phylanx
                paths:
                    - .
    check.code_format:
        <<: *docker_config
        working_directory: /phylanx
        steps:
            - <<: *attach_phylanx_tree
            - run:
                name: Create build directory, test and artifacts directories
                command: mkdir -p /artifacts /code_format
            # flake8
            - run:
                name: Check the formatting of Phylanx's Python files
                command: flake8 --config=tools/flake8/config.ini --tee --output-file=/artifacts/phylanx_flake8_report.txt .
            - run:
                name: Converting flake8 text output to XML
                command: tools/flake8/flake_to_junit.py /artifacts/phylanx_flake8_report.txt /code_format/phylanx_flake8.xml
                when: always
            # Inspect
            - run:
                name: Build the Inspect tool
                command: cmake --build build -- -j1 tools.inspect
                when: always
            - run:
                name: Check the formatting of Phylanx's C++ files
                command: build/bin/inspect --all --output=/artifacts/phylanx_inspect_report.html /phylanx
                when: always
            - run:
                name: Convert inspect HTML output to XML
                command: tools/inspect/inspect_to_junit.py /artifacts/phylanx_inspect_report.html >/code_format/phylanx_inspect.xml
                when: always
            # Code Formatting Check Reports
            - store_artifacts:
                path: /artifacts
            # Code Format Check JUnit Reports
            - store_test_results:
                path: /code_format
    check.help_format:
        <<: *docker_config
        working_directory: /phylanx
        steps:
            - <<: *attach_phylanx_tree
            - run:
                name: Create build directory, test and artifacts directories
                command: mkdir -p /artifacts /code_format
            # Run the code
            - run:
                name: Check the formatting of Phylanx's Python files
                environment:
                    PYTHONPATH: "/phylanx/build/python/build/lib.linux-x86_64-3.6"
                command: |
                    python3 tools/check_help/check_help.py > /code_format/phylanx_help_report.xml
                    cp /code_format/phylanx_help_report.xml /artifacts/phylanx_help_report.txt
            - store_artifacts:
                path: /artifacts
            # Code Format Check JUnit Reports
            - store_test_results:
                path: /code_format
    # ## Test Jobs
    # Number of test jobs and tests that are assigned to each job are chosen
    # based on previous build and execution times.
    tests.regressions:
        <<: *docker_config
        working_directory: /phylanx/build
        steps:
            - <<: *attach_phylanx_tree
            - run:
                name: Build regression tests
                command: cmake --build . -- -j1 tests.regressions
            - run:
                name: Run regression tests
                command: ctest -T test --no-compress-output --output-on-failure -R tests.regressions
            - <<: *convert_xml
            - store_test_results:
                path: tests.regressions
            - store_artifacts:
                path: tests.regressions
    tests.unit.plugins.arithmetic:
        <<: *docker_config
        working_directory: /phylanx/build
        steps:
            - <<: *attach_phylanx_tree
            - run:
                name: Build arithmetic primitive plugin unit tests
                command: cmake --build . -- -j1 tests.unit.plugins.arithmetics
            - run:
                name: Run arithmetic primitive plugin unit tests
                command: ctest -T test --no-compress-output --output-on-failure -R tests.unit.plugins.arithmetics
            - <<: *convert_xml
            - store_test_results:
                path: tests.unit.plugins.arithmetic
            - store_artifacts:
                path: tests.unit.plugins.arithmetic
    tests.unit.plugins.booleans:
        <<: *docker_config
        working_directory: /phylanx/build
        steps:
            - <<: *attach_phylanx_tree
            - run:
                name: Build boolean primitive plugin unit tests
                command: cmake --build . -- -j1 tests.unit.plugins.booleans
            - run:
                name: Run boolean primitive plugin unit tests
                command: ctest -T test --no-compress-output --output-on-failure -R tests.unit.plugins.booleans
            - <<: *convert_xml
            - store_test_results:
                path: tests.unit.plugins.booleans
            - store_artifacts:
                path: tests.unit.plugins.booleans
    tests.unit.plugins.controls:
        <<: *docker_config
        working_directory: /phylanx/build
        steps:
            - <<: *attach_phylanx_tree
            - run:
                name: Build control primitive plugin unit tests
                command: cmake --build . -- -j1 tests.unit.plugins.controls
            - run:
                name: Run control primitive plugin unit tests
                command: ctest -T test --no-compress-output --output-on-failure -R tests.unit.plugins.controls
            - <<: *convert_xml
            - store_test_results:
                path: tests.unit.plugins.controls
            - store_artifacts:
                path: tests.unit.plugins.controls
    tests.unit.plugins.fileio_solvers:
        <<: *docker_config
        working_directory: /phylanx/build
        steps:
            - <<: *attach_phylanx_tree
            - run:
                name: Build file I/O and solvers primitive plugin unit tests
                command: cmake --build . -- -j1 tests.unit.plugins.{fileio,solvers}
            - run:
                name: Run file I/O and solvers primitive plugin unit tests
                command: ctest -T test --no-compress-output --output-on-failure -R 'tests.unit.plugins.(fileio|solvers)'
            - <<: *convert_xml
            - store_test_results:
                path: tests.unit.plugins.fileio_solvers
            - store_artifacts:
                path: tests.unit.plugins.fileio_solvers
    tests.unit.plugins.listops:
        <<: *docker_config
        working_directory: /phylanx/build
        steps:
            - <<: *attach_phylanx_tree
            - run:
                name: Build ListOps primitive plugin unit tests
                command: cmake --build . -- -j1 tests.unit.plugins.listops
            - run:
                name: Run ListOps primitive plugin unit tests
                command: ctest -T test --no-compress-output --output-on-failure -R tests.unit.plugins.listops
            - <<: *convert_xml
            - store_test_results:
                path: tests.unit.plugins.listops
            - store_artifacts:
                path: tests.unit.plugins.listops
    tests.unit.plugins.matrixops:
        <<: *docker_config
        working_directory: /phylanx/build
        steps:
            - <<: *attach_phylanx_tree
            - run:
                name: Build MatrixOps primitive plugin unit tests
                command: cmake --build . -- -j1 tests.unit.plugins.matrixops
            - run:
                name: Run MatrixOps primitive plugin unit tests
                command: ctest -T test --no-compress-output --output-on-failure -R tests.unit.plugins.matrixops
            - <<: *convert_xml
            - store_test_results:
                path: tests.unit.plugins.matrixops
            - store_artifacts:
                path: tests.unit.plugins.matrixops
    tests.unit.group_1:
        <<: *docker_config
        working_directory: /phylanx/build
        steps:
            - <<: *attach_phylanx_tree
            - run:
                name: Build tests.unit.{execution_tree,ast,algorithm,execution_tree.primitives_}
                command: cmake --build . -- -j1 tests.unit.{execution_tree,ast,algorithm,execution_tree.primitives_}
            - run:
                name: Run tests.unit.{execution_tree,ast,algorithm,primitives}
                command: ctest -T test --no-compress-output --output-on-failure -R 'tests.unit.(execution_tree|ast|algorithm|primitives)'
            - <<: *convert_xml
            - store_test_results:
                path: tests.unit.group_1
            - store_artifacts:
                path: tests.unit.group_1
    tests.unit.group_2:
        <<: *docker_config
        working_directory: /phylanx/build
        steps:
            - <<: *attach_phylanx_tree
            - run:
                name: Build tests.unit.{config,ir,util,performance_counters,python}
                command: cmake --build . -- -j1 tests.unit.{config,ir,util,performance_counters,python}
            - run:
                name: Run tests.unit.config
                command: ctest -T test --no-compress-output --output-on-failure -R 'tests.unit.(config|ir|util|performance_counters|python)'
            - <<: *convert_xml
            - store_test_results:
                path: tests.unit.group_2
            - store_artifacts:
                path: tests.unit.group_2
    deploy_image:
        <<: *machine_config
        steps:
            - attach_workspace:
                at: ~/project
            - run:
                name: Enable experimental features on Docker daemon
                command: |
                    sudo sh -c 'echo '\''DOCKER_OPTS="--experimental=true"'\'' >> /etc/default/docker'
                    sudo service docker restart
            - run:
                name: Install to the image
                command: |
                    docker build -t ${TARGET_IMAGE_NAME} -f tools/docker/circleci/Dockerfile --squash .
            - run:
                name: Test installation
                command: docker run --rm ${TARGET_IMAGE_NAME} physl --hpx:threads=1 --code=1+2 --print
            # Deployment
            - deploy:
                name: Push the Phylanx build environment Docker image
                command: |
                    if [ "$CIRCLE_BRANCH" == "master" ]; then
                        docker login -u ${DOCKER_USER} -p ${DOCKER_PASS}
                        docker push ${TARGET_IMAGE_NAME}
                    fi

################################################################################
workflows:
    version: 2
    build_and_test_phylanx:
        jobs:
            - build_test:
                <<: *ignore_docs
            - check.code_format:
                requires:
                    - build_test
            - check.help_format:
                requires:
                    - build_test
            - tests.regressions:
                requires:
                    - build_test
            - tests.unit.plugins.arithmetic:
                requires:
                    - build_test
            - tests.unit.plugins.booleans:
                requires:
                    - build_test
            - tests.unit.plugins.controls:
                requires:
                    - build_test
            - tests.unit.plugins.fileio_solvers:
                requires:
                    - build_test
            - tests.unit.plugins.listops:
                requires:
                    - build_test
            - tests.unit.plugins.matrixops:
                requires:
                    - build_test
            - tests.unit.group_1:
                requires:
                    - build_test
            - tests.unit.group_2:
                requires:
                    - build_test
            - deploy_image:
                requires:
                    - build_test
                    - check.code_format
                    - tests.regressions
                    - tests.unit.plugins.arithmetic
                    - tests.unit.plugins.booleans
                    - tests.unit.plugins.controls
                    - tests.unit.plugins.fileio_solvers
                    - tests.unit.plugins.listops
                    - tests.unit.plugins.matrixops
                    - tests.unit.group_1
                    - tests.unit.group_2
